html {
    box-sizing: border-box;
    font-size: 10px;
}
*, *::before, *::after {
	box-sizing: inherit;
}
img {
    box-sizing: content-box;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #3F92D2;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.white-font {
    color: #ffffff;
}
.menu-color-font {
    color: #9b7d08;
}

header, main {
    width: 100%;
    min-width: 64rem;
    max-width: 64rem;
    margin: 0 auto;
}

.logo-box {
    overflow: hidden;
    width: 100%;
    font-size: 0;
    font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
    vertical-align: middle;
    background-color: #4c4c4c;
    background: linear-gradient(to bottom, rgba(99, 99, 99, 1) 0%,rgba(70, 70, 70, 1) 90%);
}

.logo-box div {
    display: inline-block;
    font-size: 1.4rem;
}

.logo-pic-scopes {
    vertical-align: bottom;
}

.logo-pic-scopes img {
    width: 100%;
    max-width: 4rem;
    height: auto;
    padding: 1.1rem 0.7rem 0 1.2rem;
    
}

.logo-sign h1 {
    padding: 1.1rem 1.5rem 1.3rem 0;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.2rem 0 #2c2c2c;
}

.top-menu {
    float: right;
    
    font-size: 0;
    line-height: 0;
    font-style: normal;
    font-weight: 400;
    font-family: "Segoe WP", Arial, Helvetica, sans-serif;
    
}

.top-menu-item {
    display: inline-block;
    border-right: 1px solid #9b7d08;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f2c306;
    list-style: none;
    overflow: hidden;
    transition: 100ms;
}
.top-menu-item:hover {
    color: #7a6307;
}

.top-menu-item:hover {
    background-color: #ffcc00;
}

li.usericon {
    width: 17.2rem;
    padding-right: 1.4rem;
    padding-left: 4.8rem;
    background: #f2c306 url(../img/icons/svg/usericon.svg) 2.3rem center no-repeat;
    background-size: 2.4rem auto;
    white-space: nowrap;
}

li.wrench {
    width: 13.3rem;
    padding-right: 0.6rem;
    padding-left: 2.7rem;
    background: #f2c306 url(../img/icons/svg/wrench.svg) 0.8rem center no-repeat;
    background-size: 2.2rem auto;
}

li.letter {
    width: 14.9rem;
    padding-right: 0.2rem;
    padding-left: 4.2rem;
    background: #f2c306 url(../img/icons/svg/lettericon.svg) 1.2rem center no-repeat;
    background-size: 2.8rem auto;
}

.top-menu-item:last-child {
    border-right: none;
}

.top-menu-item a {
    display: block;
    padding: 1rem;
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-family: "Segoe WP", Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

main {
    background: url(../img/textures/jpg/header-bg.jpg) center top no-repeat;
    background-size: 100% auto;

}

.slider-mount-box {
    margin-bottom: -1.8rem;
}

.video-ph {
    width: 100%;
    padding-bottom: 53.907%;
    background: #4c4c4c url(../img/content/jpg/parrots.jpg) center center no-repeat;
}

.advantages-mount {
    background: #ffffff;
}

.advantages-box {
    position: relative;
    top: -0.4rem;
    font-weight: 300;
    font-family: "Segoe UI", "Segoe WP", Tahoma, Geneva, Verdana, sans-serif;
    background: url("../img/patterns/png/diagonal-pattern10x10-alpha6.png") left top / 0.6rem 0.6rem;
    background-color: rgba(234, 234, 234, 0.4);
}

ul.advantages-list {
    position: relative;
    top: -0.5rem;
    font-size: 0;
    text-align: center;
    padding: 3.8rem 0;
    background: url("../img/patterns/png/diagonal-pattern10x10.png") left top / 0.6rem 0.6rem;
    background-color: rgba(234, 234, 234, 0.4);
}

ul.advantages-list li {
    display: inline-block;
    width: 33.33%;
    font-size: 2.3rem;
}

ul.advantages-list li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.advantages-img-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 7rem;
    margin-bottom: 1.6rem;
}

img.advantages-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 9rem;
    height: 7rem;
    margin: auto;
}

.content-box {
    background-color: #ffffff;
}

.section-name {
    padding: 4.2rem 0;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: #ffffff;
    display: none;
}
.post-feedboard {
    padding: 0.5rem 0.9rem 0.9rem;
    font-family: "Segoe WP", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.post-unit {
    width: 100%;
    font-size: 0;
}

.post-cell {
    display: inline-block;
    vertical-align: bottom;
    width: calc(50% - 0.4rem);
    margin-right: 0.8rem;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: left;
    background-color: #ec9e03;
}

.post-cell:last-child {
    margin-right: 0;
}

.post-content {
    padding: 2.7rem 2.2rem;
    font-family: "Segoe WP", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.post-content h3 {
    font-weight: 300;
    font-size: 2.9rem;
    line-height: 3.4rem;
}

.video-box-43 {
    position: relative;
    width: 100%;
    padding-bottom: 73.65%; /* пхаха, ну и соотношение, LUL, но таком макет*/
}

.video-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-date-box {
    display: none;
    width: 11.2rem;
    padding: 1.5rem 2.7rem 0.9rem 3.1rem;
    background-color: #ddb101;
    text-align: center;
}

h2.date-number {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

h3.date-month {
    font-size: 2.1rem;
    font-weight: normal;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #b26529;
}

.twitter-box {
    width: 100%;
    padding: 1.4rem 2.3rem 1.2rem;
    background-color: #f5c507;
}

.twitter-logo-box {
    float: left;
    width: 50%;
    text-align: center;
}

.twitter-logo {
    width: 54%;
    margin: 15% auto 10%;
    
}

.tweets-board {
    float: right;
    width: 50%;
    padding-left: 0.4rem;
}

.tweet-box {
    position: relative;
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 0 0.9rem;
}

a.tweet-source p {
    display: block;
    color: #8f8e8e;
    text-decoration: none;
}

.tweet-mount {
    padding: 0.6rem 1.9rem 0.6rem 1.9rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    transition: 300ms;
}

.tweet-box:first-child>.tweet-mount {
    background-color: rgba(255, 255, 255, 0.8);
}

.tweet-box:nth-child(2)>.tweet-mount {
    background-color: rgba(255, 255, 255, 0.7);
}

.tweet-mount:hover, .tweet-box:first-child>.tweet-mount:hover, .tweet-box:nth-child(2)>.tweet-mount:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


.tweet-mount::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.9rem;
    border-top: 0.6rem solid transparent;
    border-right: 0.9rem solid rgba(255, 255, 255, 0.6);
    border-bottom: 0.6rem solid transparent;
    transition: 300ms;

}

.tweet-box:first-child>.tweet-mount::before {
    border-right: 0.9rem solid rgba(255, 255, 255, 0.8);
}

.tweet-box:nth-child(2)>.tweet-mount::before {
    border-right: 0.9rem solid rgba(255, 255, 255, 0.7);
}

.tweet-mount:hover::before,.tweet-box:first-child>.tweet-mount:hover::before, .tweet-box:nth-child(2)>.tweet-mount:hover::before {
    border-right: 0.9rem solid rgba(255, 255, 255, 1);
}

.tweet {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #8f8e8e;
}

.tweet-push-box {
    padding: 0 0.9rem;
}

.tweet-push-border {
    box-sizing: padding-box;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.tweet-push-box form {
    font-size: 0;
}

.tweet-inputs {
    display: inline-block;
    white-space: nowrap;
    border: 0.1rem solid #d1a806;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaaaaa;
}

.tw-text {
    width: 20.2rem;
    border-right: none;
    padding: 0.6rem 0.9rem 0.6rem 1.8rem;
    border-radius: 1rem 0 0 1rem;
    background: #fcfcfc;

}

.tw-submit {
    width: 7rem;
    border-left: none;
    padding: 0.6rem 0.9rem;
    border-radius: 0 1rem 1rem 0;
    color: #ffffff;
    background: #cf8e0c;
}